.navbar{
	background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%)  !important;
	height: 10vh;
}

section {
	height: 80vh;
	width: 100%;
	display: flex;
	justify-content: center;
	padding: 50px;
	background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}

h1{
	padding: 25px;
}

#image{
	width: 550px;
	height: 350px;
}

footer{
	height: 10vh;
	background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
}

#image-download{
	width: 300px;
}